:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: clip;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#Title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 5px;
  height: 50px;
  width: 25%;
  box-sizing: border-box;
}

#TopBar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: clip;
}

#ItemsMenu {
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 5px;
  width: 50%;
  height: 400px;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
}

#CenterContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 3px;
  padding: 10px;
  overflow-x: clip;
}

#SecondBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  gap: 3px;
  padding: 10px;
  overflow-x: clip;
}

textarea {
  resize: none;
}

#Post {
  display: flex;
  flex-direction: column; /* This is the magic line */
  border: 2px solid #333;
  padding: 10px;
  width: 75%;
  gap: 8px;
}

h1 {
  margin: 0;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color:#646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
